.mainpage{
    flex: 1 !important;
    min-height: 100vh !important;
    padding-bottom: 15vh !important;
}
.mainpage .navpage{
    font-size: 30px !important;
    padding:20px !important;
}
.mainpage .navpage img{
    width: 50px !important;
}
.horizoncontainer{
    max-width: 900px !important;
    margin: auto !important;
}
.horizoncontainer .respect{
    margin: 50px 0px !important;
    font-size: 60px !important;
    font-weight: 500 !important;
    padding: 15px;
}
.mainpage .horizoncards{
    display: grid !important;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr)) !important;
    gap: 15px;
    padding: 20px;
}
.mainpage .horizoncard{
    height: 200px !important;
    padding: 15px !important;
    background-color: #F2EFE7 !important;
    position: relative !important;
    cursor: pointer !important;
    border-radius: 10px !important;
}
.mainpage .horizoncard img{
    width: 35px !important;
    padding: 5px !important;
    position: absolute !important;
    border-radius: 20px !important;
    background-color: antiquewhite !important;
    bottom: 10px !important;
    right: 10px !important; 
}
.mainpage .horizoncard p{
    font-size: 13px !important;
}
.mainpage .horizoncard:hover{
    background-color: rgb(234, 211, 182) !important;
}
.mainbottom{
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    max-width: 900px !important;
    padding: 0px 20px !important;
    margin: auto !important;
}
.boxsearch{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 20px;
    padding: 10px 20px;
    background-color: #F2EFE7;
    border-radius: 10px;
}
.boxsearch img{
    width: 30px !important;
    cursor: pointer  !important;
}
.boxsearch input{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 8px;
    font-size: 18px;
}
.boxsearch div{
    display: flex !important;
    align-items: center !important;
    gap: 15px;
}
.mainpage .bottominfo{
    font-size: 13px !important;
    margin: 15px auto !important;
    text-align: center !important;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img{
    width: 40px;
    border-radius: 40px;
}
.result-data{
    display: flex;
    align-items: center;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}