.sidebar{
    min-height: 100vh !important;
    padding: 20px 15px !important;
    background-color: #F1EFEC !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar img{
    width: 23px;
}
.sidebar .menu{
    margin-left: 10px !important;
    cursor: pointer !important;
}
.sidebar .newchat{
    margin-top: 40px !important;
    padding: 10px 15px !important;
    background-color: #D4C9BE !important;
    border-radius: 50px !important;
    font-size: 15px !important;
    cursor: pointer !important;
}
.sidebar .recenttitle{
    margin-top: 25px !important;
    margin-bottom: 15px !important;
}
.sidebar .recent{
    animation: fadeIn 1.5s;
}
.sidebar .recententry{
    padding: 12px !important;
    padding-right: 30px !important;
    border-radius: 40px !important;
    cursor: pointer !important;
}
.sidebar .recententry:hover{
    background-color: #D4C9BE;
}
.sidebar .bottomitems{
    padding-right: 10px !important;
    cursor: pointer !important;
}
@media (max-width:600px){
    .sidebar{
        display: none !important;
    }
}